# Python
__pycache__/
*.pyc
venv/
.venv/

# Environment variables / secrets
.env
.env.*

# Node
node_modules/

# Build files
dist/
build/

# IDE
.vscode/
.idea/

# OS
.DS_Store




git status

git add .
git commit -m "Updated backend for Render deployment"

git push origin main